<div class="container">
    <legend class="main-text">
        <h2><b>Add Address to {{userName}}`s account</b></h2>
    </legend><br>
    <div class="registratiom-form">
        <form [formGroup]="formGroup" mat-dialog-content class="column-group">
            <mat-dialog-content>

                <mat-form-field>
                    <input matInput placeholder="AddressLine1" type="string" formControlName="addressLine1"
                        [(ngModel)]="address.addressLine1">
                    <!-- <mat-error *ngIf="formGroup.controls.name.invalid">{{getNameErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="AddressLine1" type="string" formControlName="addressLine2"
                        [(ngModel)]="address.addressLine2">
                    <!-- <mat-error *ngIf="formGroup.controls.name.invalid">{{getNameErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput type="text" placeholder="PostCode" formControlName="postCode" [(ngModel)]="address.postCode">
                    <!-- <mat-error *ngIf="formGroup.controls.linkToSite.invalid">{{getLinkToSiteErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <br>

                <mat-form-field>
                    <input matInput type="text" placeholder="Country" formControlName="country"
                        [(ngModel)]="address.country">
                    <!-- <mat-error *ngIf="formGroup.controls.linkToSite.invalid">{{getLinkToSiteErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <br>

                <mat-form-field>
                    <input matInput type="text" placeholder="City" formControlName="city"
                        [(ngModel)]="address.city">
                    <!-- <mat-error *ngIf="formGroup.controls.linkToSite.invalid">{{getLinkToSiteErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <br>

                <mat-form-field>
                    <input matInput type="text" placeholder="State or province" formControlName="stateOrProvince"
                        [(ngModel)]="address.stateOrProvince">
                    <!-- <mat-error *ngIf="formGroup.controls.linkToSite.invalid">{{getLinkToSiteErrorMessage()}}</mat-error> -->
                </mat-form-field>
                <br>
                <!-- <mat-error *ngIf="formGroup.controls.linkToSite.invalid">{{getLinkToSiteErrorMessage()}}</mat-error> -->

            </mat-dialog-content>
            <button class="btn-submit" mat-raised-button type="submit" (click)="submit(address)"
                color="primary">Save</button>
        </form>
        <div mat-dialog-actions>
            <button mat-raised-button class="btn-close" (click)="onCancelClick()" color="warn">Cancel</button>
        </div>
    </div>
</div>