<div class="container">
    <legend class="main-text">
        <h2><b>{{'Address.addAddress' | translate}} {{userName}}`s {{'Address.account' | translate}}</b></h2>
    </legend><br>
    <div class="registratiom-form">
        <form [formGroup]="formGroup" mat-dialog-content class="column-group">
            <mat-dialog-content>

                <mat-form-field>
                    <input matInput placeholder="{{'Address.addressLine1' | translate}}" type="string" formControlName="addressLine1"
                        [(ngModel)]="address.addressLine1">
                    <mat-error *ngIf="formGroup.controls.addressLine1.invalid">{{getAddress1ErrorMessage()}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="{{'Address.addressLine2' | translate}}" type="string" formControlName="addressLine2"
                        [(ngModel)]="address.addressLine2">
                    <mat-error *ngIf="formGroup.controls.addressLine2.invalid">{{getAddress2ErrorMessage()}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>{{'Address.postCode' | translate}}</mat-label>
                    <input matInput type="text" maxlength="8" minlength="5" placeholder="Ex. 94105"  formControlName="postCode" [(ngModel)]="address.postCode">
                    <mat-error *ngIf="formGroup.controls.postCode.invalid">{{getPostCodeErrorMessage()}}</mat-error>
                </mat-form-field>
                <br>

                <mat-form-field>
                    <input matInput type="text" placeholder="{{'Address.country' | translate}}" formControlName="country"
                        [(ngModel)]="address.country">
                    <mat-error *ngIf="formGroup.controls.country.invalid">{{getCountryErrorMessage()}}</mat-error>
                </mat-form-field>
                <br>

                <mat-form-field>
                    <mat-label>{{'Address.city' | translate}}</mat-label>
                    <input matInput type="text" placeholder="Ex. San Francisco" formControlName="city"
                        [(ngModel)]="address.city">
                    <mat-error *ngIf="formGroup.controls.city.invalid">{{getCityErrorMessage()}}</mat-error>
                </mat-form-field>
                <br>

                <mat-form-field>
                    <input matInput type="text" placeholder="{{'Address.stateOrProvince' | translate}}" formControlName="stateOrProvince"
                        [(ngModel)]="address.stateOrProvince">
                    <mat-error *ngIf="formGroup.controls.stateOrProvince.invalid">{{getStateOrProvinceErrorMessage()}}</mat-error>
                </mat-form-field>
                <br>

            </mat-dialog-content>
            <button routerLink="/account/profile" class="btn-submit" mat-raised-button type="submit" (click)="submit(address)"
                color="primary">{{'Address.save' | translate}}</button>
        </form>
        <div mat-dialog-actions>
            <button mat-raised-button class="btn-close" routerLink="/account/profile" color="warn">{{'Address.cancel' | translate}}</button>
        </div>
    </div>
</div>