.main-text {
    text-align: center;
}

.login-form {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-close, .btn-submit {
    width: 100%;
    margin-top: 15px;
}

h1, h2, h3 {
    color: white;
}
