.list-detail-title {
    text-align: center;
}

.navbar {
    width: 100%;
    height: 3rem;
}

.plate {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
}

.add-titles, .paste-list {
    float: left;
    height: 100%;
    width: 10%;
}

.paste-list {
    padding-left: 25%;
}

button.add, 
button.paste {
    height: 100%;
    width:100%;
    background-color: lightgrey;
}

.list-detail-title, p, .list-amount-title p {
    font-size: large;
}

.delete-btn {
    width: 9rem;
}

button.add {
    width: 150px;
    height: 40px;
    color: white;
    background-color: #474b47;
    border-style: groove;
    border-color: yellowgreen;
}

.list-amount-title {
    color: white;
}

mat-table {
    color: white;
    background-color: #474b4f;
}

mat-checkbox, mat-header-cell, mat-cell {
    color: white;
}

mat-row, mat-header-row {
    border-color: yellowgreen;
}

