<mat-toolbar class="body">
  <a class="link" routerLink=""><span>Scoring System</span></a>
  <span class="spacing"></span>
  <div>
     <button routerLink="/banks" mat-button>Banks</button>
    <button routerLink="/account/login" mat-button>Login</button>
    <button (click)="onLogOut()"  mat-button>Logout</button>
    <div class="btn-profile">
      <button routerLink="account/profile" mat-icon-button aria-label="Profile">
        <mat-icon>account_circle</mat-icon>
        </button>
    </div>

  </div>
</mat-toolbar>

<div class="containers">
  <router-outlet></router-outlet>
</div>